<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="CoreComponent"/>
			<ComponentRef Id="StartMenuShortcutComponent"/>
			<ComponentRef Id="PmfmFileOpening"/>
		</ComponentGroup>


		<DirectoryRef Id="INSTALLFOLDER" FileSource="!(loc.SourceFiles)">

			<Component Id="CoreComponent" Guid="{88F9CE73-303D-45E6-A2DD-4C6506EBE733}">
				<File Name="PrimitierModManager.exe" Id="MAINEXE"/>
				<File Name="PrimitierModManager.deps.json"/>
				<File Name="PrimitierModManager.runtimeconfig.json"/>
				<File Name="PrimitierModManager.dll"/>


				<File Name="BetterConsole.dll"/>
				<File Name="Newtonsoft.Json.dll"/>
				<File Name="MaterialDesignThemes.Wpf.dll"/>
				<File Name="MaterialDesignColors.dll"/>

				
			</Component>

			<Component Id="StartMenuShortcutComponent" Guid="{7156019E-5B7F-4EB3-BE6A-EA0630684C07}">
				<Shortcut Id="StartMenuShortcut"
					Name="!(loc.ProductName)"
					Target="[INSTALLFOLDER]PrimitierModManager.exe"
					Directory="STARTMENUFOLDER"
					WorkingDirectory="INSTALLFOLDER"/>
				
				
				<!-- Unique key for this component/shortcut -->
				<RegistryValue Id="DesktopShortcutRegistry" Root="HKCU" Key="SOFTWARE\!(loc.Author)\!(loc.UnfriendlyProductName)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
			
				<RemoveFolder Id="RemoveStartMenuFolder" Directory="STARTMENUFOLDER" On="uninstall"/>
			</Component>

			
			
			<Component Id="PmfmFileOpening" Guid="{239CC1E0-BA59-43C0-A226-41C533E453D1}" KeyPath="yes">

				<ProgId Id="PrimitierModManagerPmfm" Description="Add mod to Primitier mod manager">
					<Extension Id="pmfm">
						<Verb Id="open" TargetFile="MAINEXE" Argument="&quot;%1&quot;" />
					</Extension>
				</ProgId>
				
			</Component>
			
			
			
		</DirectoryRef>
		
	</Fragment>
</Wix>
