<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?define BuildVersion = 1.0.0 ?>
	<?define BuildVersionId = "{D97D8F9E-E6A7-444E-928B-CB0A925743B0}" ?>
	

	<Product
		Version="$(var.BuildVersion)"
		Manufacturer="!(loc.Author)"
		Name="!(loc.ProductName)"
		Id="$(var.BuildVersionId)"
		Language="1033"
		UpgradeCode="b397ea95-5954-4a68-adb5-4991e684405a">
		
		<Package
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine"
			Manufacturer="!(loc.Author)"
			Description="!(loc.ProductDescription)"
			Languages="1033"/>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate
			EmbedCab="yes"/>


		<!--Config files directory-->
		<PropertyRef Id="WIX_SUITE_PERSONAL"/>
		
		<Icon Id="Icon.ico" SourceFile="$(var.PrimitierModManager.ProjectDir)\Assets\Images\Icon.ico"/>
		<Property Id="ARPPRODUCTICON">Icon.ico</Property>
		
		
		<UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>


		<Feature Id="ProductFeature" Title="PrimitierModManager.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>


		<CustomAction Id="RunPrimiterModManagerUninstall" ExeCommand="Uninstall" FileKey="MAINEXE" Return='check' />

		<InstallExecuteSequence>
			<Custom Action='RunPrimiterModManagerUninstall' After='InstallInitialize'>Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
		</InstallExecuteSequence>
		
	</Product>
 




</Wix>
