<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="CoreComponent"/>
			<ComponentRef Id="StartMenuShortcutComponent"/>
		</ComponentGroup>


		<DirectoryRef Id="INSTALLFOLDER" FileSource="!(loc.SourceFiles)">

			<Component Id="CoreComponent" Guid="{88F9CE73-303D-45E6-A2DD-4C6506EBE733}">
				<File Name="PMFInstaller.exe" Id="PMFEXE"/>
				<File Name="PMFInstaller.deps.json"/>
				<File Name="PMFInstaller.runtimeconfig.json"/>
				<File Name="PMFInstaller.dll"/>


				<File Name="BetterConsole.dll"/>
				<File Name="Newtonsoft.Json.dll"/>
				<File Name="MaterialDesignThemes.Wpf.dll"/>
				<File Name="MaterialDesignColors.dll"/>

				
			</Component>

			<Component Id="StartMenuShortcutComponent" Guid="{7156019E-5B7F-4EB3-BE6A-EA0630684C07}">
				<Shortcut Id="StartMenuShortcut"
					Name="!(loc.ProductName)"
					Target="[INSTALLFOLDER]PMFInstaller.exe"
					Directory="STARTMENUFOLDER"
					WorkingDirectory="INSTALLFOLDER"/>
				
				
				<!-- Unique key for this component/shortcut -->
				<RegistryValue Id="DesktopShortcutRegistry" Root="HKCU" Key="SOFTWARE\!(loc.Author)\!(loc.UnfriendlyProductName)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
			
				<RemoveFolder Id="RemoveStartMenuFolder" Directory="STARTMENUFOLDER" On="uninstall"/>
			</Component>


		</DirectoryRef>
		
	</Fragment>
</Wix>
