<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<Directory Id="ProgramMenuFolder">
				<Directory Id="STARTMENUFOLDER" Name="!(loc.ProductName)"/>
			</Directory>

			<Directory Id="ProgramFilesFolder">
				<Directory Id="CompanyDirectory" Name="!(loc.Author)">
					<Directory Id="INSTALLFOLDER" Name="!(loc.UnfriendlyProductName)" />
				</Directory>
			</Directory>


		</Directory>
	</Fragment>

</Wix>
