<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?define BuildVersion = 0.2.0 ?>
	<?define BuildVersionId = "{B086A6C5-6A06-4813-AD20-C13BB03C2E91}" ?>
	

	<Product
		Version="$(var.BuildVersion)"
		Manufacturer="XGames105"
		Name="!(loc.ProductName)"
		Id="$(var.BuildVersionId)"
		Language="1033"
		UpgradeCode="b397ea95-5954-4a68-adb5-4991e684405a">
		
		<Package
			InstallerVersion="200"
			Compressed="yes"
			InstallScope="perMachine"
			Manufacturer="XGames105"
			Description="!(loc.ProductDescription)"
			Languages="1033"/>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate
			EmbedCab="yes"/>


		<!--Config files directory-->
		<PropertyRef Id="WIX_SUITE_PERSONAL"/>
		
		<Icon Id="Icon.ico" SourceFile="$(var.PMFInstaller.ProjectDir)\Assets\Images\PMFIcon.ico"/>
		<Property Id="ARPPRODUCTICON">Icon.ico</Property>
		
		
		<UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>


		<Feature Id="ProductFeature" Title="PMFInstaller.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>


		<CustomAction Id="RunPMFInstallerUninstall" ExeCommand="Uninstall" FileKey="PMFEXE" Return='check' />

		<InstallExecuteSequence>
			<Custom Action='RunPMFInstallerUninstall' After='InstallInitialize'>Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
		</InstallExecuteSequence>
		
	</Product>
 




</Wix>
